<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>
  <body>
    <section id="detail">
        <h2><%- projects.node.name %></h2>
        <p><%- projects.node.description %></p>
        <!-- details  -->
        <a href="<%- projects.node.url %>">Naar GitHub</a>
        <% if (projects.node.homepageUrl !== null) { %>
        <a href="<%- projects.node.homepageUrl %>">Naar Live demo</a>
        <% } %>
    </section>
  </body>
</html>
