<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>
  <body>
    <header>
      <a id="back" href="/">< Back</a>
      <%- include('./components/header.ejs') -%>
    </header>
    <main>
      <section id="detail">
        <h2><%- projects.node.name %></h2>
        <p><%- projects.node.description %></p>
        <div>
          <a
            href="<%- projects.node.url %>"
            alt="go to the Github page"
            target="_blank"
            >Naar GitHub</a
          >
          <% if (projects.node.homepageUrl !== null) { %>
          <a
            href="<%- projects.node.homepageUrl %>"
            alt="Watch <%= projects.node.name %> in action"
            class="demo"
            target="_blank"
            >Naar Live demo</a
          >
          <% } %>
        </div>
      </section>
      <section id="readMe"><%-readMe %></section>
    </main>
    <footer><%- include('./components/footer.ejs') -%></footer>
    <script src="/scripts/main.js"></script>
  </body>
</html>
