<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>

  <body>
    <header>
      <h1>Portfolio website of [INSERT STINKY NAME]</h1>
      <!-- insert color picker -->
    </header>
    <main>
      <section id="projects_wrapper">
        <% projects.forEach(function(item){%>
        <article>
          <h2><%- item.node.name %></h2>
          <p><%- item.node.description %></p>
          <!-- details  -->
          <a href="detail/<%- item.node.id %>">Details</a>
          <% if (item.node.homepageUrl) { %>
          <a
              href="<%- item.node.homepageUrl %>"
              alt="Watch <%= item.node.name %> in action"
              >Live demo</a
            >
          <% } %>
        </article>
        <%}) %>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
