<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') -%>

  <body>
    <header><%- include('./components/header.ejs') -%></header>
    <main>
      <section id="projects_wrapper">
        <% projects.forEach(function(item){%>
        <article>
          <h2><%- item.node.name %></h2>
          <p><%- item.node.description %></p>
          <!-- languages -->
          <div id="languages">
            <% item.node.languages.nodes.forEach(function(language){%>
            <span
              class="dot"
              style="background-color: <%-language.color%>"
            ></span>
            <p><%-language.name%></p>
            <%}) %>
          </div>
          <!-- details  -->
          <a
            href="detail/<%- item.node.id %>"
            alt="go to the Github page"
            target="_blank"
            >Details</a
          >
          <% if (item.node.homepageUrl) { %>
          <a
            href="<%- item.node.homepageUrl %>"
            alt="Watch <%= item.node.name %> in action"
            class="demo"
            target="_blank"
            >Live demo</a
          >
          <% } %>
        </article>
        <%}) %>
      </section>
    </main>
    <footer></footer>
    <script src="/scripts/main.js"></script>
  </body>
</html>
